/* Basic styling for the header */
header {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px 0;
  h1 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-title {
    padding-left: 2rem;
  }
}
